

<div class="container c_margin">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 c_margin1">
      <div>



        <div class="row">
          <div class="col-sm-3">
            <h4>Change Intent:</h4>
          </div>
          <div class="col-sm-3 c_pad">
            <app-intent-selector (select)="intent=$event" ></app-intent-selector>
          </div>
          <div class="col-sm-6">
            <h4>Intent Selected: {{intent}}</h4>
          </div>
        </div>

      </div>


      <hr>
      <div (mouseup)="showSelectedText()">
        <input type="text" value="{{_text}}" class="c_pad1">
      </div>
      <br/>
      <hr>
      <div *ngIf="entities?.length > 0" id="entity" >
        <div *ngFor="let entity of entities" class="row c_pad1">

          <div class="col-sm-1">
            <label (click)="removeEntity(entity)" ><span class="fa fa-close"> </span></label>
          </div>
          <div class="col-sm-5">
            <label>{{entity.value}}</label>
          </div>
          <div class="col-sm-6">
            <app-entity-selector #sel (click)="ententeChanged($event.target.value,entity._id)"></app-entity-selector>
          </div>

        </div>
        <hr>
      </div>

      <div class="row">
        <button type="button" class="btn btn-success btn-lg" (click)="validateData()"><span class="fa fa-check"></span>  Validate</button>

      </div>

    </div>
  </div>
</div>


