

<div class="container c_margin">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 c_margin1">
      <div>



        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-5 c_pad">
            <app-intent-selector (select)="intent=$event" ></app-intent-selector>
          </div>

          <div class="col-sm-6">
            <h4> {{intent}}</h4>
          </div>
        </div>

      </div>


      <hr>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div (mouseup)="showSelectedText()">
            <input type="text" value="{{_text}}" class="c_pad1">
          </div>
        </div>
      </div>
      <br/>
      <hr>
      <div *ngIf="entities?.length > 0" id="entity" >
        <div *ngFor="let entity of entities" class="row c_pad1">

          <div class="col-sm-1">
            <label (click)="removeEntity(entity)" ><span class="fa fa-close" style="color: #b0c8e2 !important;"> </span></label>
          </div>
          <div class="col-sm-5">
            <input value="{{entity.value}}" disabled class="i_pad">
          </div>
          <div class="col-sm-6">
            <app-entity-selector #sel (click)="ententeChanged($event.target.value,entity._id)"></app-entity-selector>
          </div>

        </div>
        <hr>
      </div>

      <div class="row">
        <div class="bt_margin">
          <button type="button" class="btn btn-success " (click)="validateData()"><span class="fa fa-check"></span>  Validate</button>
        </div>


      </div>

    </div>
  </div>
</div>


